.autocomplete {
  position: relative;
  width: 130px;
}

.autocomplete-results {
  padding: 0;
  @apply m-0;
  border: 1px solid #eeeeee;
  min-height: 1px;
  overflow: auto;
  position: absolute;
  @apply bg-white;
  min-width: 33rem;
  -webkit-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: $accent;
  color: white;
}

li.autocomplete-result.is-active {
  background: $accent;
  color: white;
}

.is-selected {
  display:none;
}

.ais-VoiceSearch-status {
  display: none;
}
button.ais-VoiceSearch-button {
  position: absolute;
  right: -2rem;
  top: 0.25rem;
}