
/** @color Body background */
//$body-bg: #f8f8f8;
$body-bg: #eeedf5;
$white : white;
$antiwhite : #fdfdfd;
$gris : #898989;
$gris_granite : #524d55;
//$blck: #080708;
$darkGrey : #454851;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$accent : #4c6ee6;

$pink : #fa5c86;
$accentsecondary : $pink;

/**
 * Info
 * @color PaleBlue
 * @section Background informations
 */

$red : #FE688E;
$green : #76db8e;

$brand-info: #66B5FF;
$brand-success: #40B748;
$brand-warning: #FCC120;
$brand-danger: #FC4B37;

$primary-100 : #EEE2FB;
$primary-200 : #DCC6F8;
$primary-300 : #C1A4EB;
$primary-400 : #A486D8;
$primary-500 : #7F5FBF;
$primary-600 : #6145A4;
$primary-700 : #472F89;
$primary-800 : #301E6E;
$primary-900 : #20125B;

$violet : $primary-500;
$brand-primary: $primary-500;
$lavender : #CBC2F6;