// Fonts
//@import url("https://fonts.googleapis.com/css?family=Karla:300,400,600");
// Variables
@import "variables";

@font-face {
  font-family: 'AvenirBlack';
  src: url('../fonts/avenir-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('../fonts/avenir-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirBook';
  src: url('../fonts/avenir-book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('../fonts/avenir-heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'AvenirRoman';
  src: url('../fonts/avenir-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Conviction';
  src: url("../fonts/Conviction.ttf") format("truetype");
  font-display: swap;

}

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futur.ttf") format("truetype");
  font-display: swap;

}

//404 page
@font-face {
  font-family: "EurostileBQ";
  src: url("../fonts/EurostileBQ-BoldExtended.otf") format("opentype");
  font-display: swap;
}


//@import "semantic-ui";

$primary: $brand-primary;
$danger: $brand-danger;
$success: $brand-success;
$warning: $brand-warning;

/*
// ----------------------------------------------------------------------
// Margin auto
// ----------------------------------------------------------------------

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.tag > a {
  color: #524d55;
}*/

@tailwind base;

@tailwind components;

@tailwind utilities;


// BULMA
@import "general/indexing";
@import "darktheme";
@import "components/autocomplete";
@import '~instantsearch.css/themes/algolia-min';
