@mixin file_url($url) {
  background-image: url("../img/pictos/svg/#{$url}.svg")
}

.type-selector input {
  @apply m-0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.anime {
  @include file_url("anime")
}

.art {
  @include file_url("art")
}

.cartes {
  @include file_url("cartes")
}

.comics {
  @include file_url("comics")
}

.gaming {
  @include file_url("games")
}

.livres {
  @include file_url("livres")
}

.musique {
  @include file_url("song")
}

.tv {
  @include file_url("tv")
}

.icones {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  //margin-left: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  @include transition_all();
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  @include transition_all();
  -webkit-filter: grayscale(1) opacity(1) brightness(1.2);
  -moz-filter: grayscale(1) opacity(1) brightness(1.2);
  filter: grayscale(1) opacity(1) brightness(1.2);
}

.drinkcard-cc:hover {
  -webkit-filter: grayscale(.2) opacity(.9);
  -moz-filter: grayscale(.2) opacity(.9);
  filter: grayscale(.2) opacity(.9);
  filter: drop-shadow(0 0 7px #d7cfe3);
  @include transition_all();

}

.cc-selector input:active + .drinkcard-cc {
  opacity: .9;
}

.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;

}
