@import "footer";
@import "../menu";
@import "video";
@import "button";

@import "recipe/add";
@import "recipe/show";
@import "recipe/card";

@import "register";
@import "file";
@import "medail";
@import "icons";

.mini-cat{
  display: inline-block;
  flex-shrink: 0;
  height: 7rem;
  position: relative;
  width: 9rem;
  background: url(/img/chat_mascotte.png);
  background-size: cover;
}